{% include "hp-system.j2" %}
{% include "hp-routing-options.j2" %}
{% include "hp-interfaces.j2" %}
{% include "hp-snmp.j2" %}
{% include "hp-vlans.j2" %}
{% include "hp-spanning-tree.j2" %}
{# % include "hp-protocols.j2" % #}
{# % include "hp-ethernet-switching-options.j2" % #}
{# % include "hp-poe.j2" % #}
{# % include "hp-virtual-chassis.j2" % #}
