{% set ns = namespace(tags='', untag='') %}
{% for vlan in Vlan %}
vlan {{ vlan.VlanID }}
   name "{{ vlan.name }}"
  {% set ns.tags = '' %}
  {% set ns.untag = '' %}
  {% for interface in Interface %}
    {% if interface.tagged_start <= vlan.VlanID and interface.tagged_end >= vlan.VlanID %}
      {% if ns.tags != '' %}
        {% set ns.tags = ns.tags + ',' %}
      {% endif %}
      {% set ns.tags = ns.tags + interface.port %}
    {% endif %}
    {% if interface.untag == vlan.VlanID %}
      {% set ns.untag = interface.port %}
    {% endif %}
  {% endfor %}
  {% if ns.untag != '' %}
   untagged {{ ns.untag }}
  {% endif %}
  {% if ns.tags != '' %}
   tagged {{ ns.tags }}
  {% endif %}
  {% if vlan.ip_address != '' %}
    {% if vlan.ip_address_mask == '24' %}
      {% set mask = '255.255.255.0' %}
    {% else %}
      {% set mask = '255.255.255.0' %}
    {% endif %}
   ip address {{ vlan.ip_address }} {{ mask }}
  {% else %}
   no ip address
  {% endif %}
   exit
{% endfor %}
