{% include "aruba-system.j2" %}
{# % include "aruba-routing-options.j2" % #}
{# % include "aruba-interfaces.j2" % #}
{# % include "aruba-snmp.j2" % #}
{# % include "aruba-vlans.j2" % #}
{# % include "aruba-spanning-tree.j2" % #}
